header {
   text-align: center; 
}

main nav ul {

    display: flex;
    justify-content: space-around;
    }
    
main nav ul li {
    
    display: inline-block;
    padding: 16px 16px;
    
}

.banner img{
    width: 100%;

}

h1, h2, h3, li {
    text-transform: uppercase;
}

h3 {
    font-style: italic;
    font-weight: lighter;
}

.info .content {
    display: inline-flex;
    width: 100%;
}

.content p {
    justify-content: left;
    font-size: 16px;
    width: 50%;
}

.content img{
    width: 50%;
}

.retseptid h2 {
    display: none;
}


.retseptid ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.retseptid ul li{
    display: block;
    position: relative;
}

.retseptid li img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.retseptid li .fade{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.retseptid li .text{
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px; 
}

.retseptid li:hover img{
    opacity: 0.3;
}
    
.retseptid li:hover .fade{
    opacity: 1;
} 

footer div{
    display: flex;
    justify-content: space-between;
}

footer .social img{
    height: 100%;
    width: 24px;
}
footer .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    background-color: darkgray;
}








@media only screen and (max-width: 960px){
    .content img{
        display: none;
    }

    .retseptid ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .retseptid h2{
        display: block;
    }

    .content p {
        justify-content: left;
        font-size: 16px;
        width: 100%;
    }
}
